.projectsTitle {
    text-align: center !important;
    margin-top: 2em;
    margin-bottom: 5em;
}

.card {
    display: grid; 
    text-align: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr; 
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
        "title title"
        "image txt"; 

    column-gap: 3em;
    background-color: rgb(255, 254, 254);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3em;

    min-width: 22em;
}

@media (max-width: 1000px) {
    .card {
        display: grid; 
        text-align: center;
        align-items: center;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.1fr 1fr;
        grid-template-areas: 
            "title"
            "image";
        background-color: rgb(255, 254, 254);
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3em;
    
        min-width: 22em;
    }

    .text {
        display: none;
    }
}

.title {
    grid-area: title;
}

.title h1 {
    font-size: 32px;
    line-height: 34px;
}

.text { 
    grid-area: txt;
}

.text p {
    font-size: 20px;
    line-height: 25px;
}

.image { 
    grid-area: image;
}

.image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}