.techTitle {
    text-align: center !important;
    margin-top: 2em;
    margin-bottom: 5em;
}

.back a {
    margin-left: 15%;
    text-decoration: none;
    color: black;
}

.back a:hover {
    color: rgb(255, 0, 0);
    transition: all ease 0.3s;
}

.content p,ul {
    margin-left: 25%;
    margin-right: 25%;
}
.content img {
    width: auto;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content a {
    color: black;
}

.content a:hover {
    color: rgb(255, 0, 0);
    transition: all ease 0.3s;
}

.content h3,h4 {
    text-align: center;
}